/* General Reset and Enhancements */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f0f8ff, #e0f1ff);
    color: #333;
    line-height: 1.6;
}

/* Header Enhancements */
header {
    position: relative;
    text-align: center;
    color: white;
}

.header-image {
    position: relative;
}

.header-image img {
    width: 100%;
    display: block; /* Remove whitespace below the image */
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    width: 90%; /* Ensure it doesn't overflow on small screens */
    max-width: 600px; /* Cap the width for large screens */
}

.header-text h1 {
    margin: 0;
    font-size: 2em; /* Relative sizing for better responsiveness */
    color: #3282B9; /* Set h1 color */
}

/* Navigation Enhancements */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #333, #4f4f4f);  /* Gradient background */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

nav ul li {
    padding: 0; /* Remove or reduce padding to avoid a large hover box */
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0;  /* Remove or reduce padding */
    transition: color 0.3s ease;  /* Only transition the color */
}

nav ul li a:hover, nav ul li a:focus {
    color: #add8e6;  /* Highlight the text with a color change */
    background-color: transparent;  /* Ensure no background color is added */
    outline: none;  /* Remove any outline */
}


/* CTA Button Styling for Important Links */
nav ul li a.cta-button {
    background-color: #2DB3DE;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a.cta-button:hover {
    background-color: #2495bf;  /* Darker shade on hover */
    color: #fff;
}

/* Dropdown Container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 180px;
  padding: 10px 0;  /* Add padding for spacing between items */
  box-shadow: 0
